/* RED OUTLINE EVERYWHERE 
* {
	outline: 1px solid red !important;
} */

* {
	color: #1e1e1e;
	font-family: Helvetica Neue, sans-serif;
	letter-spacing: 0.5px;
	line-height: 1;
	margin: 0 !important;
}

/* SPACING */
.container {
	width: 100%;
	max-width: 1200px;
	padding: 16px;
	margin: 0 auto !important;
}

.pto-q {
	padding-top: 4px;
}

.pto-h {
	padding-top: 8px;
}

.pto {
	padding-top: 16px;
}

.ptn {
	padding-top: none;
}

.ptb {
	padding: 16px 0;
}

.mb-h {
	margin-bottom: 8px !important;
}

.ps {
	padding: 0 16px;
}

.pts {
	padding: 1em 16px;
}

.navbar {
	padding: 0;
}

/* HEADERS */
.eg-h1 {
	font-size: 31px;
	font-style: italic;
	font-weight: bold;
}

.eg-h4 {
	font-size: 20px;
	font-weight: bold;
}

.head-area {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.description {
	text-align: right;
}

.bio {
	font-size: 16px;
}

.bl {
	color: #0D68AB;
	text-decoration: underline;
}

.body {
	font-size: 14px;
}

.toggle {
	font-size: 12px;
}

.grey {
	color: #666;
}

.hashtag {
	color: #969696;
	font-size: 12px;
}

.header {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	...
}

.navigation {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
	background-color: white;
	height: 48px;
}

.nav-link {
	padding: 0 16px 0 0 !important;
}

.navbar-nav {
	justify-content: space-between;
}

.link-space {
	padding: 0 16px !important;
}

.view-link {
	padding-left: 16px;
}

.even-nav {
	display: grid;
}

/* .header, .navbar-expand, .navbar-nav, .navbar-brand, .nav-link {
	padding: 0 !important;
} 

/* .nav-item {
	padding-right: 16px;
} */

a {
	color: #969696;
}

a:active {
	color: #1e1e1e;
}

::selection {
	background-color: #1e1e1e;
	color: white;
}

.active {
	color: #1e1e1e;
}

.main {
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	position: relative;
}

.main-2 {
	border-bottom: 1px solid #e6e6e6;
}

.title-link {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.title-top {
	position: absolute;
	top: 16px;
	left: 16px;
}

.half-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 16px;
}

.thumbnail {
	border: 1px solid #1e1e1e;
	border-radius: 2px;
}

.square {
	width: 100%;
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.inverted {
	-webkit-filter: contrast(0%) brightness(500%);
	filter: contrast(0%) brightness(500%);
}

.detail {
	display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.cta {
	display: flex;
	justify-content: space-between;
}

.btn, .btn-primary {
	border-radius: 2px;
    background-color: black;
    border-color: transparent;
    color: white;
    padding: .5rem 2.5rem;
}

.footy {
	font-size: 12px;
	height: 48px;
	margin: 40px 0 48px !important;
	text-align: center;
}



/* MEDIA QUERIES */

/* SMALL DEVICES  */
@media (max-width: 767px) {
	/* FIXED BOTTOM NAV */

	.logo {
		display: none;
	}

	.head-area {
		justify-content: center;
	}

	.header {
		border: none;
	}
	.navigation {
		position: fixed;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
	}

	.even-nav {
		display: grid !important;
	}

	.navbar > .container {
		justify-content: normal;
	}

	#first-link {
		padding-left: 0 !important;
	}

	.right-side {
		display: none;
	}

	.ptb {
		padding: 16px;
	}

	#ptn-m {
		padding-top: 0px;
	}
	
	/* SCROLL THE NAV */
	.navbar-nav-scroll {
		white-space: nowrap;
		overflow-x: auto;
		max-width: 100%;
	}

	.description {
		text-align: left;
	}
	
	/* 2-COLUMN GRID */
	.half-grid {
		grid-template-columns: 1fr 1fr;
	}

	.btn {
		display: none;
	}
}

/* BIG DEVICES  */
@media (min-width: 768px) {
	.navbar {
		display: flex;
	}

	#first-link {
		padding: 0 16px !important;
	}
	
	.even-nav {
		display: grid;
	}

	.main {
		border-top: none;
	}

	.pte {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.ptn {
		padding-top: 16px;
	}

	.title-link {
		justify-content: normal;
	}

	.footy {
		margin-bottom: 0 !important;
	}
}
