#TDA {
  z-index: 100;
  position: absolute;
}

a {
  color: #FFA60B;
  text-decoration: none;
}

a:hover {
  color: #FFA60B;
  text-decoration: underline;
}
a.inactive:hover {
  text-decoration: none;
}

a.navbar-brand {
  border-bottom: none;
}

a.dropdown-toggle {
  border-bottom: none;
}

.article-text {
  color: #323232;
  font-family: Georgia, Baskerville, serif;
  font-size: 20px
}

body {
  background-color: #ffffeb;
}

#body-bag {
  padding: 150px;
  padding-bottom: 100px;
}

.big-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.container-article {
  margin: 0 auto;
  max-width: 756px;
  padding: 50px 32px 0;
}

.cover-photo {
  width: 350px;
  padding: 150px 0;
}

/*#doc-mate {
  margin-bottom: 50px;
}*/

#doc-mate-gif {
  background-color: #171a23;
}

#ebby {
  font-size: 32px;
  font-weight: bold;
}

#egg {
  margin-bottom: 0.25em;
  width: 24px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #323232;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}

#full-burger {
  font-size: 18px;
}

#goodfoot-bg {
  background-color: #d3492d;
}

.img-center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.inactive {
  color: #969696;
  border-bottom: none;
}

.navbar-default {
  background-color: #fff !important;
}

.white-bg {
  background-color: #fff !important;
}

/* iPhone SE */
@media only screen
  and (min-device-width: 320px)
  and (min-width: 320px)
  and (max-device-width: 568px)
  and (max-width: 568px) {
  .big-text {
    font-size: 20px;
  }

  #body-bag {
    padding: 50px;
    padding-bottom: 100px;
  }

  /*#doc-mate {
    margin-bottom: 50px;
    width: 100%;
  }*/

  .footer {
    bottom: auto;
    position: absolute;
  }

  h3 {
    color: #323232;
  }
}
