/* Globals */

/* Base structure */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: black;
  background-color: #fff;
  letter-spacing: 0.03em;
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}


/* Fonts */
p {
  margin-bottom: 0;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* 48em = 768px (tablet) */
@media (max-width: 48em) {
  .display-5 {
    font-size: 2rem;
  }
}


/* Containers */
.container-fluid--np {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container--mw {
  max-width: 960px;
}

.container--extended-content {
  width: 500%;
  margin-left: -200%;
  padding: 20px;
}

.content--extended {
  width: 100%;
  height: 100px;
  text-align: center;
}

.content--full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}


/* Backgrounds */
.bg-dark {
  background-color: #000 !important;
}

.bg-grey {
  background-color: #f2f2f2 !important;
}

.bg-off-grey {
  background-color: #F1F5F5 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-pale-grey {
  background-color: #F5F9FD !important;
}

.bg-transparent {
  background-color: transparent !important;
}


/* Borders */
.border--black {
  border: 2px solid #000 !important;
}

.border--bottom-black {
  border-bottom: 2px solid #000 !important;
}

.border--rounded {
  border-radius: 0.15rem !important;
}


/* Links */
a {
  color: #000;
}

a:hover {
  color: #1573DD;
}

a:focus {
  outline: 2px solid #1573DD;
}

.link--black {
  color: black !important;
}

.link--blue {
  color: #1573DD !important;
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid black;
}

button {
  border: 2px solid #000;
  box-shadow: 0 4px 0 0 #000;
  background-color: #1573DD;
  color: #fff !important;
  padding: 16px;
}

.work__button--bottom {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
}


/* Navigation */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0 0;
  font-weight: 500;
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: black;
  border-bottom-color: black;
}

/* 48em = 768px (tablet) */
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
  .jumbotron {
    padding: 2rem 0 !important;
  }
}


/* Jumbotron */
.jumbotron {
  margin-bottom: 0;
}

.jumbotron--side-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* 20em = 320px (mobile) */
@media (max-width: 48em) {
  .jumbotron--side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* too much space from original bootstrap.css */
@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 1rem 5rem;
  }
}


/* Project cubes in CSS Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

@media (max-width: 48em) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* Project cubes */
.height--min-400 {
  min-height: 350px;
}

@media (max-width: 48em) {
  #project-2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* Section headers */
.section-header--blue {
  border: 2px solid black;
  padding: 8px !important;
  background: #1573DD;
  color: white;
  width: max-content;
}

.tag--pale-grey {
  background: #677B8C;
  border: 1px solid black;
  color: white;
  display: inline-block;
  font-size: 0.778em;
  padding: 2px 4px;
  width: max-content;
}


/* Footer */
.footer--absolute {
  font-size: 0.750em;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer--relative {
  font-size: 0.750em;
  bottom: 0;
  position: relative;
  width: 100%;
}
