#ebby {
  font-weight: bold;
}

#TDA {
  z-index: 100;
  position: absolute;
}

a {
  color: #768093;
  border-bottom: solid 2px #768093;
  padding-bottom: 1px;
}

a:hover {
  color: #768093;
  text-decoration: none;
}

.article-text {
  color: #323232;
  font-family: Baskerville, serif;
}

body {
  background-color: #fafafa;
}

.white-bg {
  background-color: #fff !important;
}

#body-bag {
  padding-top: 150px;
  padding-bottom: 100px;
}

.big-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
}

.container {
  padding: 0 32px;
}

.container-article {
  margin: 0 auto;
  max-width: 756px;
  padding: 100px 32px 0;
}

.cover-photo {
  max-width: 350px;
  padding: 150px 0;
}

#doc-mate {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 100px;
}

#doc-mate-gif {
  background-color: #171a23;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
  color: #aaa;
  font-size: 14px;
  line-height: 40px;
}

#goodfoot-bg {
  background-color: #d3492d;
}

.img-center {
  display: block;
  margin: auto;
  width: 100%;
}

.inactive {
  color: #969696;
  border-bottom: none;
}

/* iPhone SE & 7+*/
@media only screen
  and (min-device-width: 320px)
  and (min-width: 320px)
  and (max-device-width: 736px)
  and (max-width: 736px) {
  .big-text {
    font-size: 20px;
  }
    
  body {
    background-color: #111;
    color: #fff;
  }

  #body-bag {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  a {
    color: inherit;
  }

  #doc-mate {
    margin-bottom: 50px;
    width: 100%;
  }

  .footer {
    background-color: inherit;
    bottom: auto;
    position: absolute;
  }
    
  h3 {
    color: #323232;
  }
}
